<h3>{{question}}</h3>
<h4>{{description}}</h4>
<h4>{{author}}</h4>

{{#if isEditing}}

  <form>
    <label for="question">question</label>
    {{input id="question" class="form-control" value=question}}

    <label for="description">Description</label>
    {{textarea id="description" class="form-control" value=description}}

    <label for="author">author</label>
    {{input id="author" class="form-control" value=author}}
  <br>

      <button class="btn btn-primary" {{action 'save'}}>Save Changes</button>
  </form>
{{else}}
  <h4>Answers:</h4>
    <ul>
      {{#each answers}}
        <li>{{answer}} {{author}}</li>
      {{/each}}
    </ul>


  <button class="btn btn-primary" {{action 'edit'}}>Edit Question</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete Question</button>
  <p>{{#link-to 'new-answer' this.id classNames="btn btn-primary"}}Add Answer{{/link-to}}</p>
  {{outlet}}

{{/if}}
