

{{#if isEditing}}

  <form>
    <label for="question">Question</label>
    {{input id="question" class="form-control text-font" value=question}}

    <label for="description">Description</label>
    {{textarea id="description" class="form-control text-font" value=description}}

    <label for="author">Author</label>
    {{input id="author" class="form-control text-font" value=author}}
  <br>

      <button class="btn btn-primary" {{action 'save'}}>Save Changes</button>
  </form>
{{else}}
  <div class="question-answer-box">
    <h3>Q: {{question}}</h3>
    <h4 class="text-font">{{description}}</h4>
    <h4>Asked by {{author}}</h4>
    <div class="alter-buttons">

      <button class="btn btn-default"{{action 'edit'}}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
      <button class="btn btn-default" {{action 'delete'}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    </div>

  </div>
  <div class="question-answer-box">


    <h4>Answers:</h4>
      <ul>
        {{#each answers}}
          <li>{{author}} said, {{#link-to 'answer' this.id}}"<span class="text-font">{{answer}}</span>"{{/link-to}}</li>
        {{/each}}
      </ul>


    <div class="plus-icon">

    {{#link-to 'new-answer' this.id classNames="btn-default"}}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}
    </div>
  </div>


    {{outlet}}

{{/if}}
